<div class="container-fluid home">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">      
      <%= render partial: "caurosel" %>
    </div>
     <div class="row ">
      <div class="home-res">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <a href="/program"><img class="card-img-top img-responsive" src="/program.jpg" alt="Card image cap"></a>
            </div>
         </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card course">
              <a href="/course"><img class="card-img-top img-responsive" src="/course.jpg" alt="Card image cap"></a>
          </div>
        </div>
       </div>
     </div>
  </div>
</div>
 

   