 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <center><img src="/home.jpg" width="900px" height="400px"></center>
      <br>
    </div>
  </div>


  <div class="container">
    <div class="section">
 <center>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2 class="center light-blue-text"><a href="/program"> Program Exit Survey</a></h2>
            <h5 class="center">Program exit survey is a set of questionnaire and the purpose of this survey is to find out from the students about their education experience at VRSEC.</h5>
          </div>

        <div class="col-sm-12 col-md-6">
            <h2 class="center light-blue-text"><a href="/course">Course FeedBack Survey</a></h2>
            <h5 class="center">Course end survey is at the end of the semester, getting an overall summary of the students opinion regarding the each course taken in that semester.</h5>
        </div>
      </div>
</center>
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
 