<br>
<br>
<div class="form-group select optional"><label class="select optional control-label">Choose Program</label>
<select onChange="window.location.href=this.value" class="select optional form-control" name="program" id="program">
  <option value=" ">Please select</option>
  <option value="/course/question_groups/2/answer_groups/new">B.Tech</option>
  <option value="/course/question_groups/2/answer_groups/new">M.Tech</option>
 </select>
</div>