%div.breadcrumb.flat
    %a{:href => "/"} Home
    %a{:href => "/course"} Course
    %a{:href => "/course/#{@question_group.category}"} Survey
    = link_to "Questions", question_group_questions_path(@question_group)
    %a.active{:href => "#"} New
= render partial: 'form',
  locals: { form: @question_form, url: question_group_questions_path(@question_group),
    method: :post, submit_text: 'Create Question' }
