<hr/>
<table class="table table-striped table-bordered">
  <colgroup>
    <col></col>
    <col width="45%"></col>
  </colgroup>
  <thead>
    <tr>
      <th><h3>Courses</h3></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr><td><a href="/course/1st sem">1st Semester</a></td>
    <td> <a href="/course/2nd sem">2nd Semester</a></td></tr>
    <tr>  <td> <a href="/course/3rd sem">3rd Semester</a></td>
    <td> <a href="/course/4th sem">4th Semester</a></td></tr>
    <tr>  <td> <a href="/course/5th sem">5th Semester</a></td>
    <td> <a href="/course/6th sem">6th Semester</a></td></tr>
    <tr>  <td> <a href="/course/7th sem">7th Semester</a></td>
    <td> <a href="/course/8th sem">8th Semester</a></td></tr>
    
  </tbody>
</table>